@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.784), rgba(0, 0, 0, 0.713)),url("/bg.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
}

.label-text {
    color: white;
}